<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            ADD NEW POST
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="userGroup" (submit)="saveData()">
                <label>Title</label>
                <input type="text" class="form-control mt-4" name="title" formControlName="title">
                <label>Body</label>
                <textarea name="body" cols="30" rows="10" formControlName="body" class="form-control mt-4"></textarea>
                <button class="btn btn-sm btn-success" type="submit">Create</button>
            </form>
        </div>
    </div>
</div>