<nav class="navbar navbar-expand-lg navbar-light bg-success">
    <a class="navbar-brand" [routerLink]="">Angular training</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" [routerLink]="['/home']">Home</a>
        <a class="nav-item nav-link" [routerLink]="['/post']">Post</a>
        <a class="nav-item nav-link" [routerLink]="['/post/addpost']">Add post</a>
        <a class="nav-item nav-link" *ngIf="!httpService.isUserLoggedIn()" [routerLink]="['/login']">Login</a>
        <button class="btn btn-sm btn-danger" *ngIf="httpService.isUserLoggedIn()" (click)="httpService.logoutProcess()">Logout</button>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
        <div class="mdcol-md-12">
            <router-outlet></router-outlet>
        </div>
    </div>    
  </div>

<!--
Welcome to angular training !
<hr>

<app-post></app-post>
<hr>
<app-student></app-student>
<hr>
<app-mdf></app-mdf>
<hr>
<app-tdf></app-tdf>
<hr>
<app-employee-record></app-employee-record>
<hr>
<app-parent></app-parent>
<hr>
<app-header></app-header>
<hr>
-->




